<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Confirm</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
		  <a class="navbar-brand" href="/products">Products</a>
		  <a class="navbar-brand" href="/about">About</a>
        </div>
		<img src="/images/Aling Nena Logo.png" name="logo" id="logo" />
      </div>
    </div>
	<h1>Order for <%= "#{@products.name}" %> Successful!</h1>
	<br />
	<h2>Your total is: <%= "#{@products_total}" %></h2>
	<h2>Total Amount Paid: <%= "#{@calc.total_paid}" %></h2>
	<h2>Quantity ordered: <%= "#{@products_quantity}" %></h2>
	<h2>Your change is: <%= "#{@change}" %></h2>
	<h2>In the form of: </h2>
	<h3>Ones: <%= "#{@calc.change(@products_total)[:ones]}" %></h3>
	<h3>Fives: <%= "#{@calc.change(@products_total)[:fives]}" %></h3>
	<h3>Tens: <%= "#{@calc.change(@products_total)[:tens]}" %></h3>
	<h3>Twenties: <%= "#{@calc.change(@products_total)[:twenties]}" %></h3>
	<h3>Fifties: <%= "#{@calc.change(@products_total)[:fifties]}" %></h3>
	<h3>Hundreds: <%= "#{@calc.change(@products_total)[:hundreds]}" %></h3>
	<h3>Five Hundreds: <%= "#{@calc.change(@products_total)[:five_hundreds]}" %></h3>
	<h3>Thousands: <%= "#{@calc.change(@products_total)[:thousands]}" %></h3>
	<br />
	<a href="/" class="btn btn-default">Home</a>
	<a href="/products" class="btn btn-default">Back to Product List</a>
  </body>
</html>